.notepad-add-content {
  width: 100%;
  height: 80%;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  border-radius: 0.625rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 1rem 3rem;
}

form {
  width: 100%;
}

form .inpt {
  display: flex;
  flex-direction: column;
}

form .inpt input,
form .inpt textarea,
form .inpt label {
  width: 100%;
  margin: 0.5rem auto;
}

.add-btn {
  width: 100%;
  margin: 0 auto;
}

.add-btn button {
  padding: 0.5rem 0;
  width: 80%;
  margin: 10px 0;
  padding: 10px 0;
  border: none;
  border-radius: 5px;
  background-color: #eb8f7a;
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.5s;
  width: 100%;
}

.add-btn button:hover {
  background-color: #fabbad;
  color: #333;
}

.notes-container {
  width: 100%;
}
