// ----------------------------------------
// 📌 Layout
// ----------------------------------------
@import "../config/index.scss";
#app {
  max-width: 75rem; // 1200px
  margin: 0 auto;
  padding: $padding-container;
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  @media (max-width: $break-md) {
    flex-direction: column;
    align-items: unset;

    main {
      margin-left: 0;
      margin-top: 1.875rem; // 30px
    }

    aside {
      width: 100%;
    }
  }
}

// ----------------------------------------
// 📋 Sidebar (aside)
// ----------------------------------------
aside {
  width: 20rem; // 320px
  margin-bottom: 1.875rem;
  background-color: $color-white;
  box-shadow: $box-shadow;
  border-radius: $radius;
  padding: $padding-lg;
  position: fixed;

  @media (max-width: $break-md) {
    position: relative;
  }

  strong {
    font-size: 1.25rem; // 20px
    text-align: center;
    display: block;
    color: $color-dark;
  }

  form {
    margin-top: 1.875rem;

    .input-block {
      margin-top: 1.25rem; // 20px

      label {
        color: $color-light-gray;
        font-size: 0.875rem;
        font-weight: bold;
        display: block;
      }

      input {
        width: 100%;
        height: 2rem;
        font-size: 0.875rem;
        color: $color-gray;
        border: 0;
        border-bottom: 1px solid $color-border;
      }

      textarea {
        margin-top: 0.4375rem; // 7px
        width: 100%;
        height: 12.5rem; // 200px
        font-size: 0.875rem;
        color: $color-gray;
        border: 0;
        border-bottom: 1px solid $color-border;
        background-color: $color-white;
        resize: none;
      }
    }

    button[type="submit"] {
      width: 100%;
      border: 0;
      margin-top: 1.875rem;
      background: $color-primary;
      border-radius: $radius;
      padding: $padding-md;
      font-size: 1rem;
      font-weight: bold;
      color: $color-white;
      cursor: pointer;
      transition: $transition;
    }
  }
}

// ----------------------------------------
// 🧱 Main content
// ----------------------------------------
main {
  flex: 1;
  margin-left: 21.875rem; // 350px

  ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.25rem; // 20px
    list-style: none;

    @media (max-width: $break-sm) {
      grid-template-columns: 1fr;
    }
  }
}
