// ----------------------------------------
// 🌈 Variáveis
// ----------------------------------------
$color-white: #fff;
$color-gray: #666;
$color-light-gray: #acacac;
$color-dark: #333;
$color-border: #eee;
$color-primary: #ffd3ca;

$radius: 0.625rem; // 10px
$box-shadow: 0 0 0.875rem 0 rgba(0, 0, 0, 0.2); // 14px
$transition: 0.3s ease;

$padding-lg: 1.875rem 1.25rem; // 30px 20px
$padding-md: 0.9375rem 1.25rem; // 15px 20px
$padding-container: 3.75rem 1.875rem; // 60px 30px

$break-md: 1000px;
$break-sm: 600px;
