@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Classe personalizada para o brilho de fundo */
.glow-bg {
  background: radial-gradient(
    circle at 50% 50%,
    rgba(108, 93, 211, 0.15) 0%,
    rgba(255, 255, 255, 0) 50%
  );
}

/* Delays de animação que o Tailwind não tem por padrão */
.delay-100 {
  animation-delay: 100ms;
}
.delay-200 {
  animation-delay: 200ms;
}
.delay-300 {
  animation-delay: 300ms;
}

/* Esconder scrollbar padrão mas permitir scroll */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
