// 1) config primeiro
@import "./config.scss";

// 2) depois cada módulo
@import "./auth/auth.scss";
@import "./homepage/homepage.scss";
@import "./notes/notes-list/notes.scss";
@import "./notes/notepad-add/notes.scss";
#app {
  width: 100%;
  height: 100vh;
  display: flex;
  margin-left: $margin-xl;
}

@media (max-width: 1000px) {
  #app {
    flex-direction: column;
    height: 100vh;
    display: flex;
    align-items: center;
  }
}

@media (max-width: $break-sm) {
  #app {
    flex-direction: column;
    height: 100vh;
    display: flex;
    align-items: center;
  }
}
