// @import "../config/index.scss";
$color-white: #fff;
$color-gray: #666;
$color-light-gray: #acacac;
$color-dark: #333;
$color-border: #eee;
$color-primary: #ffd3ca;

$radius-sm: 0.625rem; // 10px
$radius-md: 1rem;
$radius-full: 50%;
$box-shadow: 0 0 0.875rem 0 rgba(0, 0, 0, 0.2); // 14px
$transition: 0.3s ease;

$padding-sm: 0.5rem;
$padding-md: 1rem;

$padding-lg: 2rem;
$padding-xl: 3rem;

$break-md: 1000px;
$break-sm: 600px;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@mixin button {
  width: 80%;
  margin: 10px 0;
  padding: 10px 0;
  border: none;
  border-radius: 5px;
  background-color: #eb8f7a;
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.5s;
  &:hover {
    background-color: #fabbad;
    color: #333;
  }
}

#app {
  width: 100%;
  height: 100vh;
  display: flex;
  .notepad-add-container {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .notes-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
